# eclipse
bin
bin/generated
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/server/

# Files from Forge MDK
forge*changelog.txt
run2
logs
gradle/crowdin.properties
*.sh
package-lock.json
node_modules/.bin/cdl
/node_modules/
src/generated/resources
src/generated/resources/.cache/cache
src/generated/resources/.cache
/mcmodsrepo/

src/generated