modLoader = "javafml"
loaderVersion = "${loader_version_range}"
license = "${mod_license}"
issueTrackerURL = "https://github.com/DragonSurvivalTeam/DragonSurvival/issues"
logoFile = "dragonsurvival.png"

[[mods]]
    modId = "${mod_id}"
    version = "${mod_version}"
    displayName = "${mod_name}"
    displayURL = "https://www.curseforge.com/minecraft/mc-mods/dragons-survival"
    authors = "${mod_authors}"
    description = '''
        This mod lets you play as a dragon. There are 3 dragon kinds, which have different traits.
        To start, you must create a Dragon Altar where you can choose the dragon type you want to become.
        '''
    enumExtensions="META-INF/enumextensions.json"

# A dependency - use the . to indicate dependency for a specific modid. Dependencies are optional.
[[dependencies.${mod_id}]] #optional
# the modid of the dependency
modId="neoforge" #mandatory
# The type of the dependency. Can be one of "required", "optional", "incompatible" or "discouraged" (case insensitive).
# 'required' requires the mod to exist, 'optional' does not
# 'incompatible' will prevent the game from loading when the mod exists, and 'discouraged' will show a warning
type="required" #mandatory
# Optional field describing why the dependency is required or why it is incompatible
# reason="..."
# The version range of the dependency
versionRange="${neo_version_range}" #mandatory
# An ordering relationship for the dependency.
# BEFORE - This mod is loaded BEFORE the dependency
# AFTER - This mod is loaded AFTER the dependency
ordering="NONE"
# Side this dependency is applied on - BOTH, CLIENT, or SERVER
side="BOTH"

[[dependencies.${mod_id}]]
    modId = "geckolib"
    mandatory = true
    versionRange = "${geckolib_version_range}"
    ordering = "NONE"
    side = "CLIENT"

[[mixins]]
    config = "${mod_id}.mixins.json"